<div class="container">

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h1 class="h6">All boards</h1>

          <a href="/insert_board" class="ms-auto btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#newboardmodal">
            Add a new board
          </a>

        </div>
        <% @list_of_boards.each do |a_board| %>
          <div class="list-group list-group-flush">
            <a href="/boards/<%= a_board.id %>" class="d-flex list-group-item list-group-item-action">
              <%= a_board.name %>
              <i class="ms-auto fa-solid fa-chevron-right"></i>
            </li>
          </a>
        </ul>
      </div>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="newboardmodal" tabindex="-1" aria-labelledby="newboardmodalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newboardmodalLabel">New board</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/insert_board" method="post">
              <div class="mb-3">
                <label for="name_box" class="form-label">
                  Name
                </label>

                <input type="text" id="name_box" name="query_name" class="form-control">
              </div>

              <div class="d-grid">
                <button class="btn btn-success">Add board</button>
              </div>

              <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="/insert_board" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
